:root {
  --body-margin: 0 15vw;
  --body-background-color: rgb(34, 40, 49);
  --body-color: white;
  --body-font-family: Arial, sans-serif;

  --paragraph-font-size: 1.5rem;

  --nav-anchor-margin: 0 1vw;
  --nav-background-color: rgb(34, 40, 49, 0.9);

  --primary-color: yellowgreen;
}

html {
  scroll-padding-top: 10vh;
  min-width: 300px;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  margin: var(--body-margin);
  font-family: var(--body-font-family);
  font-size: var(--paragraph-font-size);
}

h1 {
  color: var(--primary-color);
}

nav {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  justify-content: center;
  padding: 2vh;
  background-color: var(--nav-background-color);
}

nav a {
  display: inline-block;
  white-space: nowrap;
  margin: var(--nav-anchor-margin);
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  color: var(--primary-color);
  transition: 0.5s;
}

.nav-separator {
  margin: 0 0.5rem;
}

.higlight-text {
  color: var(--primary-color);
}

.contact-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-link {
  display: inline-block;
  margin: 0.5rem;
}

.contact-link:hover {
  transform: scale(1.1);
}

.contact-icon {
  height: 50px;
  width: 50px;
  fill: white;
}

.contact-icon:hover {
  fill: var(--primary-color);
}

.my-image {
  border-radius: 10em 0 10em 0;
  display: block;
  height: 30rem;
  pointer-events: none;
}

.intro h1 {
  font-size: 3rem;
  color: var(--body-color);
}

.intro {
  min-height: calc(100vh - 10vh - 4vh);
  margin: 4vh 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

section, .text {
  margin: 1rem;
}

.skill-list {
  list-style: none;
}

#skills ul {
  padding-inline-start: 0;
}

.skill-list li {
  display: inline-block;
  background-color: lightgrey;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
  color: black
}

.skill-list li:hover {
  background-color: yellowgreen;
  transition: 0.5s;
}

.Button {
  box-shadow: 0px 4px 10px -1px black;
  background-color: #eeeeee;
  border-radius: 28px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 17px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.2s;
  margin: 2vw;
}

.Button:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
  transition: 0.5s;
}

.Button:active {
  position: relative;
  top: 1px;
}

.center-align {
  text-align: center;
  padding: 1vw;
}

@media screen and (max-width: 1000px) {
  body {
    margin: 0 5vw;
  }

  .my-image {
    border-radius: 5em 0 5em 0;
    width: 50vw;
    height: auto;
    min-width: 200px;
  }

  .intro {
    min-height: fit-content;
    flex-direction: column;
  }

  :root {
    --paragraph-font-size: 1.2rem;
  }

  .nav-separator {
    display: none;
  }

  nav a {
    margin: 0 1rem;
    text-decoration: underline;
  }
}